/**
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    /*padding: 20px;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    /*background-color: #444;*/
    border-right: 1px solid #777;
  }

  .channel-sidebar-panel .panel-collapse.collapse {
    visibility: visible;
    display: block;
  }
}
.sidebar {
  padding: 0;
  background-color: #444;
}

#channelSidebarCollapse .panel-body {
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .channel-sidebar-panel {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    z-index: 1029;
  }
}
.channel-sidebar-panel {
    background-color: #444;
  border: 0 none transparent;
  border-radius: 0 none transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.channel-sidebar-panel .panel-heading {
  border: 0 none transparent;
  border-radius: 0 none transparent;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  /*margin-bottom: 20px;*/
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #ddd;
  background-color: #444;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus, {
  background-color: #333;
}
.nav-sidebar > .active > a/*,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus*/ {
  color: #fff;
  background-color: #222;
}

.nav-sidebar-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 2px;
}


.channel-sidebar-heading-title {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #EEE;
  float: left;
}
.channel-sidebar-heading-toggle {
  float: right;
}
.channel-sidebar-heading-toggle .btn {
  width: 44px;
}

.sidebar-icon {
  padding-right: 6px;
}

.footer-normal {
  padding-top: 10px;
  padding-bottom: 10px;
}



.main {
  padding: 50px 20px 20px;
}
@media (min-width: 768px) {
  .main {
    padding: 20px 40px;
/*    padding-right: 40px;
    padding-left: 40px;*/
  }
}
.main .page-header {
  margin-top: 0;
}
.main .page-header.channel-title {
  padding-right: 4px;
}
.main .page-header .channel-tab-title {
  font-size: 80%;
}
@media (min-width: 768px) {
  .main .page-header .channel-tab-title {
    font-size: 65%;
    color: #888;
    line-height: 1;
    font-weight: 1;
  }
}



.islive-indicator {
  margin-right: 6px;
}


.sorttable-icon {
  padding-right: 6px;
  color: #888;
  display: inline; /*inline-block;*/
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1.28571429em;
  text-align: center;
}

.dataTable th.sorting .sorttable-icon:before {
  content: '\f0dc';
}

.dataTable th.sorting_asc .sorttable-icon:before {
  content: '\f0de';
}

.dataTable th.sorting_desc .sorttable-icon:before {
  content: '\f0dd';
}

.dataTable th.sorting, .dataTable th.sorting_asc, .dataTable th.sorting_desc {
  padding-right: 12px;
  cursor: pointer;
}


.row-command-access-0 .row-command-col-access {
  color: #bdc3c7;
}

.row-command-access-1 .row-command-col-access {
  color: #8e44ad;
}

.row-command-access-2 .row-command-col-access {
  color: #27ae60;
}

.row-command-access-3 .row-command-col-access {
  color: #c0392b;
}


.fake-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.js-hlstream-loaded {
  display: none;
}


/*@media (max-width: 767px) {
  .row-command-access-0 {
    color: #bdc3c7;
  }

  .row-command-access-1 {
    color: #8e44ad;
  }

  .row-command-access-2 {
    color: #27ae60;
  }

  .row-command-access-3 {
    color: #c0392b;
  }

  table td.row-command-col-access, table th.row-command-col-access {
    display: none;
    visibility: hidden;
  }
  .row-command kbd.command {
    color: inherit;
    background-color: #303030;
  }
}*/

/*
function colorifyAccessLevel(access) {
    if (access == 0) {
        return "#bdc3c7";
    }
    if (access == 1) {
        return "#8e44ad";
    }
    if (access == 2) {
        return "#27ae60";
    }
    if (access == 3) {
        return "#c0392b";
    }
}
