.nobr { white-space:nowrap; }

body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar-collapsed {
  display: none;
  visibility: hidden;
}

kbd.command {
	white-space:nowrap;
}

/**
 * Footer
 */
.footer-normal {
    text-align: center;
}

.footer-section {
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 4px;
}

.footer-section a {
    color: inherit;
}

.footer-srccodelink:not(:hover) {
    background-color: transparent;
    border-color: transparent;
}