.nobr { white-space:nowrap; }

body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

/*#navbar li.active {
  background-color: #111;
}*/

.sidebar-collapsed {
  display: none;
  visibility: hidden;
}

/*kbd.command {
	white-space:nowrap;
}*/

.loading-text:after {
  content: " Loading...";
}
.loading-text>i.fa {  
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.loading-text>i.fa:before {
  content: "\f006"; /*"\f013";*/ /* cog for loading thingies */
}

/**
 * Footer
 */
.footer-normal {
    text-align: center;
}

.footer-section {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-section a {
    color: inherit;
}

.footer-srccodelink:not(:hover) {
    background-color: transparent;
    border-color: transparent;
}