/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #444;
    border-right: 1px solid #777;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #ddd;
  background-color: #444;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus, {
  background-color: #333;
}
.nav-sidebar > .active > a/*,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus*/ {
  color: #fff;
  background-color: #222;
}




.collapse.sidebar-collapse:not(.in) {
  display: none;
  visibility: hidden;
}

@media (max-width: 767px) {
  .sidebar-collapsed {
    display: inline;
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .collapse.sidebar-collapse:not(.in), .collapse.sidebar-collapse.in {
    display: block;
    visibility: visible;
  }
}



.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
@media (max-width: 767px) {
  .main .page-header small {
    display: block;
    margin-top: 6px;
  }
}



.islive-indicator {
  padding-right: 6px;
}