Options All -Indexes

ErrorDocument 400 /error.php?c=400
ErrorDocument 403 /error.php?c=403
ErrorDocument 404 /error.php?c=404
ErrorDocument 500 /error.php?c=500

RewriteEngine on

RewriteRule ^c/(\w+)/?$ /channel.php?channel=$1 [L]
RewriteRule ^c/(\w+)/(\w+)/?$ /channel.php?channel=$1&tab=$2 [L]

RewriteRule ^channel/(.*)$ /c/$1 [L,R]
# RewriteRule ^channels/(.*)$ /c/$1 [L,R]

RewriteRule ^api/(.+)$ /api.php?q=$1 [L]

RewriteRule ^commands/?$ /commands.php [L]
RewriteRule ^commands/(.+)$ /commands.php?prefix=$1 [L]

RewriteRule ^channels/?$ /chanlist.php [L]
# RewriteRule ^c/?$ /channels [L,R]
RewriteRule ^channel/?$ /channels [L,R]


RewriteRule ^help/?$ /help.php [L]
RewriteRule ^faq/?$ /help#faq [L,R,NE]
RewriteRule ^cookieman/?$ /cookieman.php [L]
RewriteRule ^logout/?$ /twitchconnect.php?logout=1 [L]
RewriteRule ^settings/?$ /settings.php [L]


RewriteRule ^oldhl/([^.]+)?$ highlights/highlight.php?arg=$1 [L]

RewriteRule ^highlights/add/([^.]+)?$ http://oldhl.coebot.tv/highlights/add/$1 [L,R]

RewriteRule ^highlights/view/(\w+)/([^.]+)?$ /c/$1#highlights/$2 [L,R,NE]

RewriteRule ^highlights/(\w+)/?$ /c/$1#highlights [L,R,NE]

# redirect to "www."
RewriteCond %{HTTP_HOST} !^www\.coebot\.tv [NC]
RewriteRule ^(.*)$ https://www.coebot.tv/$1 [R=301,L]

# redirect to HTTPS
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.coebot.tv/$1 [R=301,L]

