RewriteEngine on

RewriteRule ^c/(\w+)/?$ /channel.php?channel=$1
RewriteRule ^c/(\w+)/(\w+)/?$ /channel.php?channel=$1&tab=$2

RewriteRule ^channel/(.*)$ /c/$1 [R]
RewriteRule ^channels/(.*)$ /c/$1 [R]

RewriteRule ^api/(.*)$ /api.php?q=$1

RewriteRule ^commands/?$ /commands.php
RewriteRule ^commands/(.+)$ /commands.php?prefix=$1

RewriteRule ^channels/?$ /chanlist.php
RewriteRule ^c/?$ /channels [R]
RewriteRule ^channel/?$ /channels [R]


RewriteRule ^oldhl/([^.]+)?$ highlights/highlight.php?arg=$1 [L]

RewriteRule ^highlights/add/([^.]+)?$ http://oldhl.coebot.tv/highlights/add/$1 [L,R]

RewriteRule ^highlights/view/(\w+)/([^.]+)?$ /c/$1#highlights/$2 [L,R,NE]

RewriteRule ^highlights/(\w+)/?$ /c/$1#highlights [L,R,NE]